body {
    background-color: orange;
    font-size:22px;
}
h1 {
    background-color:black;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid black;
}

p {
    background-color:red;
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

image {
    Height: 50px;
    width:70px;
    border: 1px solid white;
}